 @import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');

 body {
     background-color: #faf2e4;
     margin: 0 10%;
     font-family: sans-serif;
 }

 h1 {
     text-align: center;
     font-family: 'Girassol', cursive;
     font-weight: normal;
     text-transform: uppercase;
     border-bottom: 1px solid #57b1dc;
     margin-top: 30px;
     color: brown;
 }

 h2 {
     color: #d1633c;
     font-size: 1em;
 }

 small {
     color: #999;
 }

 img {
     margin-top: 100px;
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 13%;
 }

 nav {
     margin-top: 2em;
     padding: 0.5em 1em;
     text-decoration: none;
     background-color: brown;
     color: #d1633c;
     border: 2px solid #57b1dc;
     border-top-left-radius: 1em 1em;
     border-top-right-radius: 1em 1em;
     border-bottom-left-radius: 1em 1em;
     border-bottom-right-radius: 1em 1em;
     text-align: center;
 }

nav a {
    color: white;
}

 a {
     text-decoration: none;
 }